
/*Icon styling css files*/
.icon-timeline img{
  background-color: #0E0E0E;
  border-radius: 100%;
  width: 80px;
  position: absolute;
  -moz-box-shadow:-3px -3px 4px #00cbff;
  -webkit-box-shadow: -3px -3px 4px #00cbff;
  box-shadow: -3px -3px 4px #00cbff;
}
.icon-timeline img:nth-child(2){
  -moz-box-shadow:3px 3px 4px #020202;
  -webkit-box-shadow: 3px 3px 4px #020202;
  box-shadow: 3px 3px 4px #020202;
}
