
/* MENU STYLES */
/* Menu Mobile */
.fullmenu {
	width: 100%;
	height: 100%;
	display:none;
	background-color: #0e0e0e;
	position: fixed;
	top: 0;
	left: 0;
	z-index: 2;
}
.fullmenu ul {
	width: 100%;
	position: absolute;
	top: 50%;
	left: 50%;
	-webkit-transform: translate(-50%, -50%);
	-o-transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
	-mz-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
}
.fullmenu ul li {
	font-weight: 300;
	line-height: 80px;
	text-align: center;
	-webkit-transition: all .3s ease-in-out;
	-o-otransition: all .3s ease-in-out;
	-ms-transition: all .3s ease-in-out;
	-mz-transition: all .3s ease-in-out;
	transition: all .3s ease-in-out;
}
.fullmenu ul li a {
	text-decoration: none;
	text-align:center;
	display: block;
	-webkit-transition: all .3s ease-in-out;
	-o-otransition: all .3s ease-in-out;
	-ms-transition: all .3s ease-in-out;
	-mz-transition: all .3s ease-in-out;
	transition: all .3s ease-in-out;
}
.hamb {
	position: fixed;
	height:33px;
	left: 25px;
  top:25px;
  display: none;
	z-index:99;
}
.hamb span {
	position: absolute;
	width: 30px;
	height: 2px;
	background-color: rgba(255,255,255,1.00);
	-webkit-transition: all .3s ease;
	-moz-transition: all .3s ease;
	-ms-transition: all .3s ease;
	-o-transition: all .3s ease;
	transition: all .3s ease;
}
.hamb span:nth-child(1) {
	top: 0px;
}
.hamb span:nth-child(2) {
	top: 10px;
}
.hamb span:nth-child(3) {
	top: 20px;
}
.hamb .one {
	top: 10px!important;
	-webkit-transform: rotate(45deg)!important;
	-o-transform: rotate(45deg)!important;
	-moz-transform: rotate(45deg)!important;
	-ms-transform: rotate(45deg)!important;
	transform: rotate(45deg)!important;
}
.hamb .three {
	top: 10px!important;
	-webkit-transform: rotate(-45deg)!important;
	-o-transform: rotate(-45deg)!important;
	-moz-transform: rotate(-45deg)!important;
	-ms-transform: rotate(-45deg)!important;
	transform: rotate(-45deg)!important;
}
/* Menu Desktop */
nav{
  padding-top: 25px;
  text-align: center;
}
nav a{
  background-color: #0E0E0E;
  margin: 0 40px;
  z-index:1;
}
.menu-open {
position: fixed;
width: 100%;
top:0;
background: #0e0e0e;
z-index: 2;
padding-bottom: 20px;
box-shadow: 2px 2px 4px #020202;
}
.menu-open li{
  display: inline;
}
/* Effect 1: Brackets */
.effect-brackets a::before,
.effect-brackets a::after {
display: inline-block;
opacity: 0;
position: relative;
top: -2px;
-webkit-transition: -webkit-transform 0.3s, opacity 0.2s;
-moz-transition: -moz-transform 0.3s, opacity 0.2s;
transition: transform 0.3s, opacity 0.2s;
}
.effect-brackets a::before {
margin-right: 10px;
content: '[';
color: var(--primary-color);
-webkit-transform: translateX(20px);
-moz-transform: translateX(20px);
transform: translateX(20px);
}
.effect-brackets a::after {
margin-left: 10px;
content: ']';
color: var(--primary-color);
-webkit-transform: translateX(-20px);
-moz-transform: translateX(-20px);
transform: translateX(-20px);
}
.effect-brackets a:hover::before, .effect-brackets a:hover::after {
opacity: 1;
-webkit-transform: translateX(0px);
-moz-transform: translateX(0px);
transform: translateX(0px);
}
