
/* @keyframes animation */

/*Animation arrow-down and arrow up*/
@keyframes arrow{
  0%{
top:0px;
}
50%{
  top:5px;
}
100%{
  top:0px;
}
}
/*Animation Img Projects*/
@keyframes work{
  0%{
transform: scale(1.0);
}
50%{
  transform: scale(1.05);
}
100%{
  transform: scale(1.0);
}
}
